
/*
font-family: "Montserrat", sans-serif;
font-family: "Fraunces", serif;
*/
body{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;/*alinea el contenidoi horizontal*/
    align-items: center;/*alinea el contenido verticalmente*/
    height: 100dvh;
}

/*RESET: estos son estilos que resetean las propiedades en todos los 
navegadores para evitar conflictos con sus valores por defecto*/
h1, h2, p{
    margin: 0;
}

main{
    /*border: 1px solid red;*/
    width: 650px;
    height: 400px;
    display: flex;/*sirve para dividir los elementos uno al lado del otro*/
    border-radius: 14px;
    overflow: hidden;/*oculta los desbordamientos*/
}

.photo{
    background-color: orange;
    width: 300px;/*referencia al main que es el padre*/
    background-image: url(./images/image-product-desktop.jpg);
    background-size: cover;/*ocupa todo el espacio*/
    background-repeat: no-repeat;
}

.content{
    background-color: hsl(0, 0%, 100%);
    width: 350px;
    padding: 28px;
    display: flex;/*los elementos se van uno al lado del otro*/
    flex-direction: column;/*con este se va verticalemnte*/
    gap : 28px;/*esta propiedad no ayuda al espaciado entre elementos*/

}

.content h2{
    
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500; /*peso de la letra*/
    color: hsl(228, 12%, 48%);
    letter-spacing: 7px;
}

.content h1{
    color: hsl(158, 42%, 18%);
    font-size: 42px;
    font-family: "Fraunces", serif;
    line-height: 1;
}

.content p{
    font-weight: 500;
    line-height: 1.5;
    color: hsl(228, 12%, 48%);

}

.content div{
    display: flex;
    align-items: center;
    gap: 14px;
}

.content span{
    
}